{% extends "baseBack.html.twig" %}
{% block header %}
    <div class="banner_w3lspvt">
        <div class="nav_w3ls pt-4 pb-3 text-center">
            <nav>
                <label for="drop" class="toggle">Menu</label>
                <input type="checkbox" id="drop"/>
                <ul class="menu">

                </ul>

            </nav>
        </div>
    </div>
{% endblock %}