{% extends 'baseBack.html.twig' %}
{% block content %}

    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Data Table Example</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Numero</th>
<<<<<<< HEAD
<th></th>
                        <th></th>
=======

>>>>>>> 1453b8fe36090e5d7587461cd7c31b60229a01ab
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Numero</th>
<<<<<<< HEAD
<th></th>
                        <th></th>
=======

>>>>>>> 1453b8fe36090e5d7587461cd7c31b60229a01ab
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for i in fournisseurs %}
                        <tr>
                            <td>{{  i.id }}</td>
                            <td>{{  i.nom }}</td>
                            <td>{{  i.numero }}</td>
<<<<<<< HEAD
                            <td><button class="btn-success">Modifier</button></td>
                            <td><button class="btn-danger">Supprimer</button></td>
=======

>>>>>>> 1453b8fe36090e5d7587461cd7c31b60229a01ab
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>





{% endblock %}